<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" fileName="Crida.log" encoding="utf-8" lineEnding="CRLF" autoFlush="true"
                archiveOldFileOnStartup="true" maxArchiveFiles="10">
            <layout xsi:type="JsonLayout" includeAllProperties="true">
                <attribute name="time" layout="${longdate}" />
                <attribute name="level" layout="${level:upperCase=true}" />
                <attribute name="logger" layout="${logger}" />
                <attribute name="message" layout="${message}" />
                <attribute name="exception" layout="${exception:format=@:innerformat=@:maxInnerExceptionLevel=10}"
                           encode="false" />
            </layout>
        </target>
        <target name="logconsole" xsi:type="ColoredConsole" layout="${date}|${level:uppercase=true}|${message} ${exception}|${logger}|${all-event-properties}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
    </rules>
</nlog>
